body {
    text-align: center; 
    background-image: url(../images/guille-alvarez-IENX30F7Gw8-unsplash.jpg);
}

form {
    text-align: center;
}

ul {
  text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #120906;
  }
  
  li {
    float: left;
    text-align: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    
  }
  
  li a:hover {
    background-color: black;
    
  }

  #button {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 20%;
    background: #519CBC;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 0;
    font-size: .8em;
    border: 0;
    border-radius: 0;
    transition-property: all;
    transition-duration: .15s;
    font-weight: bold;
    z-index: 98;
}

#myBn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBn:hover {
  
  background-image: url(../images/guille-alvarez-IENX30F7Gw8-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.card-body {
  background-color: black;
  color: yellow;
}